* {
  font-family: 'Bebas Neue', sans-serif;
}

html {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: black;
  margin: 0;
  color: white;
}

.flex {
  display: flex;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 50px auto -94.188px;
  font-size: 24px;
}

.logo {
  width: 200px;
}

.byob {
  width: 170px;
}

.mobile {
  display: none;
}

button.reserve {
  font-size: 24px;
  padding: 5px 25px;
  border: none;
  margin-left: auto;
}

.line {
  display: flex;
  background-color: white;
  color: white;
  width: 300px;
  flex: auto;
  opacity: 0%;
}

.bg-image {
  position: relative;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.half {
  width: 100%;
}

.center-text a{
  font-size: 60px;
  display: block;
  padding: 10px 30px;
  margin: auto;
  border: 3px solid white;
}

.bckground {
  width: 100%;
  position: fixed;
  z-index: -1;
  opacity: 70%;
}

.menus {
  margin: 200px auto;
  width: 50%;
  flex-direction: column;
  gap: 30px;
}

footer {
  padding: 100px 0;
  align-items: center;
  max-width: 70vw;
  margin: auto;
}

.foot-logo {
  width: 300px;
}

.open {
  flex-direction: column;
}

.around {
  justify-content: space-around;
}

.hours {
  justify-content: space-between;
  width: 200px;
}

.hours p {
  margin: 5px 0;
}

.small {
  justify-self: flex-end;
}

@media (max-width: 1200px) {
  .menus {
    width: 90%;
  }

  .mobile-order {
    margin-bottom: 50px;
    order: -1;
  }
}

@media (max-width: 900px) {

  .mobile-column {
    flex-direction: column;
  }

  nav {
    width: 80vw;
    margin: auto;
  }

  .corner-logo {
    margin-right: auto;
  }

  .mobile {
    display: flex;
    width: 60px;
  }

  .desktop {
    display: none;
  }

  .reserve {
    display: none;
  }

  .address {
    text-align: center;
  }
  
}