* {
  font-family: 'Bebas Neue', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: black;
  margin: 0;
  color: white;
}

.flex {
  display: flex;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  justify-content: center;
}

nav ul {
  padding: 0;
  margin: 0 150px;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: -94.188px;
}

.logo {
  width: 200px;
}

.byob {
  width: 170px;
}

button.reserve {
  font-size: 24px;
  padding: 5px 25px;
  border: none;
}

.line {
  display: flex;
  background-color: white;
  color: white;
  width: 300px;
  flex: auto;
}

.bg-image {
  position: relative;
  z-index: -1;
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.half {
  width: 100%;
}

.center-text a{
  font-size: 60px;
  display: block;
  padding: 10px 30px;
  margin: auto;
  border: 3px solid white;
}

.bckground {
  width: 100%;
  position: fixed;
  z-index: -1;
  opacity: 70%;
}

.menus {
  margin: 200px auto;
  width: 50%;
  flex-direction: column;
  gap: 30px;
}

footer {
  padding: 100px 0;
  align-items: center;
}

.big-logo {
  width: 300px;
}

.open {
  flex-direction: column;
}

.around {
  justify-content: space-around;
}

.hours {
  justify-content: space-between;
  width: 200px;
}

.hours p {
  margin: 5px 0;
}

.small {
  justify-self: flex-end;
}